.buttons-row {
    width: 100%;
    button {
        width: calc(100% / 4);
        float: left;
        height: 100px;
    }
}

.clear-button {
    width: 100%;
    button {
        width: 100%;
        height: 100px;
    }
}
