.buttons-row {
    width: 100%;
    button {
        float: left;
        height: 100px;
    }
    
    .button button {
        width: calc(100% / 4);
    }
    .button-big button {
        width: calc(100% / 2);
    }
}
